.postCard {
	border-radius: 10px;
	margin: 5%;
	padding: 5%;
	background-image: radial-gradient(
		circle farthest-corner at 10% 20%,
		rgba(97, 186, 255, 1) 0%,
		rgba(166, 239, 253, 1) 90.1%
	);
	height: 300px;
	width: 1200px;
	display: flex;
	flex-direction: row;
	/* justify-content: center; */
	/* align-items: center; */
}

.postCard a {
	text-decoration: none;
}

.postCard:hover {
	color: white;
	background-image: radial-gradient(
		circle 610px at 5.2% 51.6%,
		rgba(5, 8, 114, 1) 0%,
		rgba(7, 3, 53, 1) 97.5%
	);
}
.postCard:hover a {
	color: white;
}

.PostImage {
	width: 20vw;
	height: 100%;
	border-radius: 10px;
	/* background-image: url(${props=>props.image}); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-decoration: none;
	width: 80vw;
}

.contentText {
	display: inline-block;
	text-overflow: ellipsis;
	max-width: 600px;
	height: 20vh;
	overflow: hidden;
	white-space: nowrap;
	/* float: left; */
}

h2 {
	color: aliceblue;
}
