.SinglePost {
	display: flex;
	flex-direction: column;
}

.SinglePostTitleBlock {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: space-between;
}

.SinglePostTitle {
	font-size: 5em;
	font-weight: bold;
	margin-left: 10px;
	display: flex;
	align-self: flex-start;
}

.SinglePostIcon {
	font-size: 2em;
	margin-right: 10px;
	margin-top: 50px;
}

.SinglePostContent {
	font-size: 1.5em;
	margin-top: 50px;
	margin-left: 10px;
}

.SinglePostAuthor {
	font-size: 1.5em;
	margin-top: 50px;
	margin-left: 10px;
}
